{% extends 'core/base.html' %}
{% load static %}
{% block body %}
<div class="mt-5">
    <div class="mt-5 text-center">
        <img src="{% static 'core/images/car.jpg'%}" alt="profile" class="img-thumbnail" width="250px" height="150px">
    </div>
    <div class="mt-5 text-warning mx-5 text-justify">
        <h1 class="font-weight-bold st-font"><b> Hello</b></h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px">
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos rem nesciunt consequatur recusandae iure
                libero aspernatur. Recusandae odit eligendi quibusdam temporibus quam, est cupiditate, maxime dolorem
                tempora quidem sint earum soluta necessitatibus inventore eveniet dignissimos accusamus. Distinctio quos
                commodi amet dolore deserunt dignissimos voluptatum eius fugiat possimus, at accusantium, ratione
                mollitia ullam, iste enim. Odio placeat dolore aperiam debitis minima aut perferendis maiores adipisci
                veritatis, vitae consectetur commodi, non, officiis iste sequi. Minima nisi magnam accusantium
                distinctio aut officiis qui porro excepturi voluptatem laudantium cupiditate, delectus cum quisquam
                doloribus et atque pariatur dolore! Error necessitatibus, quidem rem earum blanditiis deserunt ex magni
                doloribus eaque. Culpa exercitationem labore illum, provident fugiat beatae repellat ducimus veritatis
                vero! Labore molestiae aspernatur recusandae nihil incidunt cum. Impedit animi provident eaque totam.
                Assumenda repellat accusamus exercitationem nulla architecto ea beatae earum quos error autem? Veniam
                eaque quos sapiente molestiae reiciendis doloribus incidunt, nisi ipsa excepturi, voluptatibus velit
                quasi fugit hic architecto! Molestiae voluptate excepturi aliquam odit veritatis laborum iure commodi
                vel, itaque architecto reiciendis modi laudantium iste eos. Maxime totam omnis sed non numquam dolore
                minus quibusdam sequi, natus odit quam expedita, quae inventore tempora debitis amet repellendus
                voluptates iste corporis, distinctio velit dolorem perspiciatis?</h3>
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-outline-danger my-3 mr-5">service</a>


        <a href="" class="btn btn-outline-info my-3">contact</a>
    </div>
</div>
{% endblock body %}