{% load static %}
<div class="border-right border-warning h-100">
    <div class="text-center">
        <img src="{% static 'core/images/car.jpg' %} " alt="profile"
            class="img-fluid rounded-circle mt-5" width="100px" height="100px">
        <h3 class="text-white mt-3">Sabin kc</h3>
    </div>
    <hr class="border-light">
    <nav class="nav flex-column text-center">
        <a href="" class="niv-link">Home</a>
        <a href="" class="niv-link">Services</a>
        <a href="" class="niv-link">Skills</a>
        <a href="" class="niv-link">Contact</a>
    </nav>
</div>