<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: cadetblue;
        }
    </style>
</head>

<body>
    <h1>Welcome {{name}}</h1>
    {% if messages %}
    {% for massage in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
  <form action="" method="post">
      {% csrf_token %}
      {{form}}
  </form>
    <br><a href="{% url 'logout' %}">Log Out</a>
</body>

</html>